h4,
h5 {
    padding: 0;
    margin: 5px 0;
}
#list1 {
    border: solid 1px #ccc;
}

#task_box {
    margin: 10px;
    border: solid 1px #ccc;
    padding: 10px;
}
#task_box .footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
