h4,
h5 {
    padding: 0;
    margin: 5px 0;
}
#list1,
#list2 {
    margin: 10px;
    border: solid 1px #ccc;
    padding: 10px;
}
#list1 input,
#list2 input {
    margin-right: 5px;
    margin-bottom: 5px;
}

#task_box {
    margin: 10px;
    border: solid 1px #ccc;
    padding: 10px;
}
#task_box .footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
